#home-page {
  .content-div {
    @include reset;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include m-screen {
      padding-left: 90px;
      padding-right: 90px;
    }

    @include l-screen {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include xl-screen {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include xxl-screen {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}
