.btn {
  font-weight: 600 !important;
  color: color(white) !important;
  border: 2px solid white;
  border-radius: 0 !important;
  background-color: #4fb1a2;
  max-width: 131px;
  width: 150px;
  height: 60px;
  display: block;
  margin: 0 auto;

  &:hover {
    color: #4fb1a2 !important;
    border: 2px solid #4fb1a2;
    background: white !important;
    @include transition(all 0.5s linear);
  }

  @include l-screen {
    font-size: 15px;
    height: 40px;
  }
}

.btn-variation {
  font-weight: 300;
  font-size: 14px;
  height: 34px;
  width: 130px;
  background: color(lightpurple) !important;
  color: color(white) !important;
  outline: none;
  border: none;
  @include transition(all 0.5s linear);

  &:hover {
    color: white !important;
    background: purple !important;
  }
}

.btn-variation-color-green {
  background: #4fb1a2 !important;

  &:hover {
    color: #4fb1a2 !important;
    border: 2px solid #4fb1a2;
    background: white !important;
    @include transition(all 0.5s linear);
  }
}

.btn-small-font {
  font-size: 13px;
}
