.featured-properties-section,
.container-fluid,
.row,
.col-12,
.carousel-item-img,
h3 {
  @include reset;
  width: 100%;
}

.col-carousel {
  @include padding-top-and-bottom;
  overflow: hidden;

  h3 {
    margin-bottom: 50px;
    color: color(lightgreen);
    text-align: center;
    span {
      display: inline-block;
    }

    span:first-child {
      color: color(lightpurple);
      margin-right: 10px;
    }
  }

  .container-carousel-and-arrows,
  .container-arrows {
    @include reset;
    width: 100%;
  }

  .container-carousel-and-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    //background: red;
  }

  .container-arrows {
    display: flex;
    width: 100% !important;
    height: 70px;
    align-items: center;
    position: absolute;
    z-index: 10;
    //background: green;

    .left-arrow,
    .right-arrow {
      width: 40px;
      height: 70px;
      position: absolute;
      background: color(lightpurple);
      cursor: pointer;
      transition: all 0.5s linear;
    }

    .left-arrow {
      z-index: 12;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: purple;
      }

      &::before {
        content: "\003C";
        color: color(white);
        font-size: 30px;
        //background: black;
      }
    }

    .right-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 12;
      right: 0;

      &:hover {
        background: purple;
      }

      &::after {
        content: "\003E";
        color: color(white);
        font-size: 30px;
        //background: black;
      }
    }
  }

  .carousel-featured-properties {
    @include reset;
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 350px;
    background: blue;

    @include s-screen {
      height: 250px;
    }

    @include m-screen {
      height: 150px;
    }

    @include l-screen {
      height: 180px;
    }

    @include xl-screen {
      height: 220px;
    }

    // CONTAINER IMAGES ==================//
    .carousel-item-img {
      position: absolute;
      top: 0px;
      transition: all 0.6s linear;
      margin-right: 15px;
      background: red;

      // ======= 2 images
      @include s-screen {
        text-align: left;
        width: calc(50% - 10px) !important;
        margin-right: 0;
        // giving space with margin to the 2nd and 3th elements since we move the first-one to the left.
        &:nth-child(2) {
          margin-right: 10px !important;
        }

        &:nth-child(3) {
          margin-left: 10px !important;
        }

        &:nth-child(4) {
          margin-left: 10px !important;
        }
      }

      // ======= 3 images
      @include m-screen {
        text-align: center;
        width: calc((100% / 3) - 10px) !important;

        &:nth-child(3) {
          margin-left: 5px !important;
          margin-right: 5px !important;
        }

        &:nth-child(4) {
          margin-left: 10px !important;
        }

        &:nth-child(5) {
          margin-left: 10px !important;
        }
      }

      // ======= 4 images
      @include l-screen {
        text-align: right;
        width: calc((100% / 4) - 15px) !important;

        // giving space with margin to the first 4 .carousel-item-img in l-screen
        &:nth-child(2) {
          margin-right: 15px !important;
        }

        &:nth-child(3) {
          margin-left: 5px !important;
          margin-right: 10px !important;
        }

        &:nth-child(4) {
          margin-left: 10px !important;
          margin-right: 5px !important;
        }

        &:nth-child(5) {
          margin-left: 15px !important;
        }

        &:nth-child(6) {
          margin-left: 15px !important;
        }
      }

      img {
        width: 100% !important;
        height: 350px;
        margin: 0 auto;

        @include s-screen {
          height: 250px;
        }

        @include m-screen {
          height: 150px;
        }

        @include l-screen {
          height: 180px;
        }

        @include xl-screen {
          height: 220px;
        }
      }
    }
  }
}
