<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        main#home-page  
            include ../components/header-thin.pug
            include ../components/header-thick.pug
            include ../components/hero.pug
            include ../components/profile-form.pug
            include ../components/second-section.pug
            include ../components/banner-last-section.pug
            include ../components/footer.pug