section.featured-properties-section
    .container-fluid
        .row
            .col-12.col-carousel   
                h3
                    span FEATURED  
                    span PROPERTIES
                .container-carousel-and-arrows
                    .container-arrows
                        .left-arrow
                        .right-arrow
                    .carousel-featured-properties
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6819319_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6801399_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6793238_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6768305_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6793095_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6816901_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6791862_0.jpg").d-block
                        .carousel-item-img
                            img(src="https://pix.idxre.com/pix/GAFMLS/main/0/6802459_0.jpg").d-block
                h2.products.text-center 
                    a(href="#") VIEW MORE PROPERTIES
               
            
