section.three-imgs-section
    .container-fluid
        .row
            .col-lg-4
                .container-img
                    img(src='http://localhost:5500/dist/images/cta1.jpg' alt='image my home worth').img-fluid 
                    .text-container
                        h5 What is My
                        h3 HOME WORTH?
                        span
            .col-lg-4
                .container-img
                    img(src='http://localhost:5500/dist/images/cta2.jpg' alt='image find my home dream').img-fluid
                    .text-container
                        h5 Find My
                        h3 DREAM HOME
                        span
            .col-lg-4
                .container-img
                    img(src='http://localhost:5500/dist/images/cta3.jpg' alt='image relocate').img-fluid
                    .text-container
                        h5 Help Me
                        h3 Relocate
                        span