section.welcome-and-form-section
    .container-fluid
        .row
            .col-lg-8
                .text-wrapper
                    h2 Welcome To The
                    h1 
                        span EGYPT SHERROD 
                        span REAL ESTATE GROUP
                    h3 AT KELLER WILLIAMS REALTY CITYSIDE
                    p Whether you're purchasing your first home, investing, selling/buying a luxury home, downsizing or relocating; I am committed to helping you achieve your real estate goals by providing you with outstanding service and quality information so making the right decision is easy.
                    p I've built an outstanding team of experienced individuals, all of who are passionate about offering the best customer service. We will provide you with unparalleled professionalism, support and guidance. It is our goal to deliver an absolutely stress-free and smooth process to all our clients.
                    button.btn-variation ABOUT EGYPT
                .get-in-touch-text-wrapper.d-none.d-lg-block
                    .info
                        h4 GET IN TOUCH
                        p
                            span OFFICE     
                            | 770.874.6228  
                            span.pipe-span |
                        p
                            span DIRECT 
                            | 770.851.7638  
                            span.pipe-span |
                        p
                            span FAX 
                            | 770.874.6300 
                    p.purple-p Keller Williams Realty - Cityside, 3350 Atlanta Rd., Smyrna GA 30080
                    .svg-wrapper
                        include ../icons/email.pug 
                        p Egypt@EgyptSherrodRealEstate.com 
                            span.pipe-span |
                    .social-media-bottom-form
                        span CONNECT WITH US:
                        span
                            include ../icons/facebook.pug
                        span 
                            include ../icons/twitter.pug
                        span
                            include ../icons/instagram.pug
            .col-lg-4
                .second-form-wrapper
                    h3.text-center FIND A HOME
                    form.row
                        label City
                        .input-group.mb-3
                            select.form-select(aria-label="Default select example")
                                option(selected) Select City
                                option(value="Alpharetta") Alpharetta
                                option(value="Atlanta") Atlanta
                                option(value="Buckhead") Buckhead
                                option(value="Marietta") Marietta
                                option(value="Piedmont") Piedmont
                                option(value="Roswell") Roswell
                                option(value="Smyrna") Smyrna
                        
                        .col-6.col-6-padding-rigth
                            label Bedrooms
                            .input-group.mb-3
                                select.form-select(aria-label="Default select example")
                                    option(selected) Bedrooms
                                    option(value="Studio") Studio
                                    option(value="1") 1+
                                    option(value="2") 2+
                                    option(value="3") 3+
                                    option(value="4") 4+
                                    option(value="5") 5+
                                    option(value="6") 6+
                        .col-6.col-6-padding-left
                            label Bathrooms
                            .input-group.mb-3
                                select.form-select(aria-label="Default select example")
                                    option(selected) Bathrooms
                                    option(value="1") 1+
                                    option(value="2") 2+
                                    option(value="3") 3+
                                    option(value="4") 4+
                                    option(value="5") 5+
                                    option(value="6") 6+
                        label Minimum Price
                        .input-group.mb-3
                            select.form-select(aria-label="Default select example")
                                option(selected) Minimum Price
                                option(value="200") $200,000
                                option(value="250") $250,000
                                option(value="300") $300,000
                                option(value="350") $350,000
                                option(value="400") $400,000
                                option(value="450") $450,000
                                option(value="500") $500,000
                                option(value="550") $550,000
                                option(value="600") $600,000
                                option(value="650") $650,000
                                option(value="700") $700,000
                                option(value="800") $800,000
                                option(value="900") $900,000
                                option(value="1000") $1,000,000
                                option(value="2000") $2,000,000
                                option(value="3000") $3,000,000
                        label Maximum Price
                        .input-group.mb-3
                            select.form-select(aria-label="Default select example")
                                option(selected) Maximum Price
                                option(value="200") $200,000
                                option(value="250") $250,000
                                option(value="300") $300,000
                                option(value="350") $350,000
                                option(value="400") $400,000
                                option(value="450") $450,000
                                option(value="500") $500,000
                                option(value="550") $550,000
                                option(value="600") $600,000
                                option(value="650") $650,000
                                option(value="700") $700,000
                                option(value="800") $800,000
                                option(value="900") $900,000
                                option(value="1000") $1,000,000
                                option(value="2000") $2,000,000
                                option(value="3000") $3,000,000
                        .buttons-wrapper
                            button(type="submit").btn-variation.btn-small-font FIND YOUR HOME
                            button(type="submit").btn-variation.btn-variation-color-green.btn-small-font ADVANCED






